<% //organize via bootstrap grid system %>
<div>
    <div>
        <ul>
            <li>Mailing Addess</li>
            <li>Phone Number</li>
            <li>Fax Number???</li>
            <li>Email Addess</li>
        </ul>
    </div>
    <div>
        <p>Proudly built by Stephen Burke Software?
        <br>email@website.com</p>
    </div>
    <div>
     <ul>
         <li><a href="www.instagram.com">Instagram</a></li>
         <li><a href="www.facebook.com">Facebook</a></li>
         <li><a href="www.twitter.com">Twitter</a></li>
         <li><a href="www.pinterest.com">Pinterest</a></li>
     </ul>
    </div>
</div>

</body>
</html>