<% //organize via bootstrap grid system %>
<div class="footer">
    <div class="row footer-row">
        <div class="col-lg-4 center-block">
            <ul class="footer-ul">
                <li>123 1st Street WeBo, MA 01234</li>
                <li>555-555-5555</li>
                <li>Ronnie@EventsByRonnie.com</li>
            </ul>
            <hr align="center" class="footer-hr">
        </div>
        <div class="col-lg-4 center-block">
            <ul class="footer-ul">
                <li>Proudly built by <a href="google.com">Stephen Burke</a></li>
                <li>email@website.com</li>
            </ul>
            <hr align="center" class="footer-hr">
        </div>
        <div class="col-lg-4" id="footer-inner-row">
            <div class="row" id="footer-inner-row2">
                <div class="col-sm-3">
                <p><a href="www.instagram.com"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-sm-3">
                <p><a href="www.facebook.com"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-sm-3">
                <p><a href="www.twitter.com"><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></a></p>
                </div>
                <div class="col-sm-3">
                <p><a href="www.pinterest.com"><i class="fa fa-pinterest-square fa-4x" aria-hidden="true"></i></a></p>
                </div>
            <hr align="center" class="footer-hr">
        </div>
    </div>
</div>

</body>
</html>