<% //organize via bootstrap grid system %>
<div class="container">
    <div class="row">
        <div class="col-lg-4 center-block">
            <ul class="footer-ul">
                <li>123 1st Street WeBo, MA 01234</li>
                <li>555-555-5555</li>
                <li>Ronnie@EventsByRonnie.com</li>
            </ul>
            <hr align="center" class="footer-hr">
        </div>
        <div class="col-lg-4 center-block">
            <ul class="footer-ul">
                <li>Proudly built by <a href="google.com">Stephen Burke</a></li>
                <li>email@website.com</li>
            </ul>
            <hr align="center" class="footer-hr">
        </div>
        <div class="col-lg-4 footer-row">
            <ul class="footer-ul">
                <li><a href="www.instagram.com"><i class="fa fa-instagram icon-large" aria-hidden="true"></i></a></li>
                <li><a href="www.facebook.com"><i class="fa fa-facebook-square icon-large" aria-hidden="true"></i></a></li>
                <li><a href="www.twitter.com"><i class="fa fa-twitter-square icon-large" aria-hidden="true"></i></a></li>
                <li><a href="www.pinterest.com"><i class="fa fa-pinterest-square icon-large" aria-hidden="true"></i></a></li>
            </ul>
            <hr align="center" class="footer-hr">
        </div>
    </div>
</div>

</body>
</html>