<% include partials/header %>
<% include partials/navbar %>
<%// return pictures based on recent instagram posts %>
<%// https://www.instagram.com/developer/endpoints/users/ %>
<%// Possibly do all? %>
<%// How would this update? On every user refresh or on application restart? %>

<h1>Recent Photos</h1>
//Make API call here
//Display 9 most recent photos
<p>To view more photos, follow us on <a href="www.Instagram.com">Instagram</a></li></p>

<% include partials/footer %>