<% include partials/header %>
<% include partials/navbar %>


<h1>More Than Just An Event Planner</h1>


<h3>What we strive to do at EventsByRonnie</h3>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

<h3>A few examples of events we've done</h3>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
sunt in culpa qui officia deserunt mollit anim id est laborum."</p>


//carousal with text overlay
//event Header= Name of event, SubText= Quick description of event
//maybe something like this https://bootsnipp.com/snippets/80nXX
// use instgram api for pictures https://www.instagram.com/developer/endpoints/users/

<% include partials/footer %>