body{
    padding: 70px 25px 25px 25px;
}

.navbar-light{
    color: rgb(40, 40, 40);
}

.bg-faded{
    background-color: rgba(209, 209, 209, 0.95);
}

.carousel {
    width:640px;
    height:360px;
    margin: auto;
    min-height: 640px;
    max-height: 360px;
}

.carousel-caption{
    bottom: 5%;
    transform: translateY(-50%);    
}

.row{
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(124, 124, 124);
}

.footer-ul{
    list-style-type: none;
    padding-top: 5%;
    text-align: center;
    width: 80%;
    margin: auto;
}
 
hr{
    border: 0;
    height: 1px;
    align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0));
}